.container {
    max-width: 1000px;
    margin: 0 auto;
}

.results {
    display: flex;
    flex-wrap: wrap;
}

.result {
    margin: 1rem;
    padding: 1rem;
    max-width: 200px;
    background: lightgray;
    border: solid grey;
    border-radius: 1rem;
}

.loader {
    border: 16px solid black;
    border-top: 16px solid darkred;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
form {
    padding: 2rem;
    background: lightgrey;
    border-radius: 1rem;
}

input {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    font-size: 1em;
}

button {
    background-color: darkred;
    width: 200px;
    padding: 1rem;
    color: white;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 10px;
}

label {
    display: block;
    margin-top: 1rem;
}

.form-error {
    display: none;
    color: red;
    font-size: 10px;
    margin-top: 2px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
